.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  color: #333322;
  font-family: 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'IPA明朝', 'IPAMincho', 'georgia ref', 'times new roman', serif;
}
div#container {
  display: block;
  width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
img#logo {
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.vegas-background {
  -webkit-transform: translateZ(0);
}
