@base: #fff;
@fore: #332;
@innerwidth: 720px;

@font-family: 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'IPA明朝', 'IPAMincho', 'georgia ref', 'times new roman', serif;

.opacity(@opacity) {
    @opacityPercentage: @opacity * 100;
    opacity: @opacity;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(@opacityPercentage));
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html, body {
	height: 100%;
	margin: 0;

	color: @fore;
	font-family: @font-family;
}

div#container {
	display: block;

	width: @innerwidth;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px;

	background-color: fade(@base, 80%);
}

img#logo {
	margin: 0;
	.center;
	width: 80%;
}

// http://stackoverflow.com/questions/12969228/
.vegas-background {
	-webkit-transform: translateZ(0);
}
