@base: #fff;
@fore: #332;
@innerwidth: 720px;

@imgdir: '../img';

@font-default: 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'IPA明朝', 'IPAMincho', 'georgia ref', 'times new roman', serif;

.ms-opacity(@opacity) {
	@opacityPercentage: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacityPercentage})";
	filter: ~"alpha(opacity=@{opacityPercentage})";
}

.opacity(@opacity) {
	opacity: @opacity;
	.ms-opacity(@opacity);
}

.background-rgba(@color, @alpha) {
	background-color: fade(@color, @alpha * 100);
	.lt-ie9 & {
		background-color: @color;
		.ms-opacity(@alpha);
	}
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.background-cover(@image) {
	background-image: url(@image);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.horizontal-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 -50% 0;
	transform: translate(-50%, -50%);
}

.pretty {
	width: 60%;
}

.bare {
	margin: 0;
	padding: 0;
}

// http://stackoverflow.com/questions/12969228/
.vegas-background {
	-webkit-transform: translateZ(0);
}

html, body {
	height: 100%;
	margin: 0;

	color: @fore;
	font-family: @font-default;
}

div#container {
	display: block;

	width: @innerwidth;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px;

	.background-rgba(@base, 0.8);
}

img#logo {
	margin: 0;
	.horizontal-center;
	width: 80%;
}

div#demo-wrap {
	@innerheight: 400px;

	.bare;
	.horizontal-center;
	width: @innerwidth;
	height: @innerheight;

	position: relative;

	#loading {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background-color: @fore;
		.opacity(0.8);
		.border-radius(10px);

		display: table-cell;
		vertical-align: middle;

		p {
			color: white;
			font-size: 24px;

			.center;
		}
	}

	textarea {
		resize: none;
	}

	textarea.demo {
		@pad: 10px;
		@margin: 10px;
		@border: 0px;

		margin: @margin;
		padding: @pad;
		width: @innerwidth / 2 - @pad * 2 - @margin * 2 - @border * 2;
		height: @innerheight - @pad * 2 - @margin * 2 - @border * 2;

		border: solid @border lighten(@fore, 50%);
		.border-radius(5px);

		background-color: @base;

		font: 18px @font-default;

		float: left;

		&#conversion-from {
			// .background-cover('@{imgdir}/kyuji_background.jpg');
		}

		&#conversion-to {
			// .background-cover('@{imgdir}/shinji_background.jpg');
		}
	}
}
