.horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 -50% 0;
  transform: translate(-50%, -50%);
}
.pretty {
  width: 60%;
}
.bare {
  margin: 0;
  padding: 0;
}
.vegas-background {
  -webkit-transform: translateZ(0);
}
html,
body {
  height: 100%;
  margin: 0;
  color: #333322;
  font-family: 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'IPA明朝', 'IPAMincho', 'georgia ref', 'times new roman', serif;
}
div#container {
  display: block;
  width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
img#logo {
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
div#demo-wrap {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: 400px;
  position: relative;
}
div#demo-wrap #loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 34, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
}
div#demo-wrap #loading p {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 -50% 0;
  transform: translate(-50%, -50%);
}
div#demo-wrap textarea {
  resize: none;
}
div#demo-wrap textarea.demo {
  margin: 10px;
  padding: 10px;
  width: 320px;
  height: 360px;
  border: solid 0px #bbbb99;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 18px 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'IPA明朝', 'IPAMincho', 'georgia ref', 'times new roman', serif;
  float: left;
}
